.App {
  text-align: center;
}

.Title {
  background-color: #222427;
  height: 10vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(15px + 1vmin);
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.Listing {
  background-color: #66cbed;
  height: 8vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  position: fixed;
  top: 10%;
  z-index: 1;
}

.ItemList {
  background-color: #f02a07;
  min-height: 8vh;
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  font-family: Papyrus;
  font-weight: bold;
  color: white;
}

.GridLayout {
  background-color: #f02a07;
  top: 17vh;
  min-width: 100vw;
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  column-gap: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
